[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "==2.0.15"
pylint = "==2.4.3"
pytest = "==5.2.2"
pytest-cov = "==2.8.1"
rope = "==0.14.0"
vulture = "==1.1"
handsdown = "==0.3.4"
twine = "==2.0.0"

[packages]
black = "==19.10b0"
boto3 = "*"
mypy = ">=0.740"
docstring-parser = ">=0.3"
mypy_boto3_builder = {path = "./builder",editable = true}

[requires]
python_version = "3.7"
