# Mypy-boto3 {service_name} submodule

Provides type annotations for boto3 {service_name} service

## Installation

```bash
pip install mypy-boto3[{service_name}]
```

## Usage

```python
import boto3
from mypy_boto3.{submodule_name} import Client, ServiceResource

client: Client = boto3.client("{service_name}")
resource: ServiceResource = boto3.resource("{service_name}")

# now your IDE can suggest you method and arguemnt names
# and mypy can check types
```

