{% for decorator in function.decorators -%}
{{ '@' -}}{{ decorator -}}{{ '\n' -}}
{% endfor -%}
{{ 'def ' -}}{{ function.name -}}{{ '(\n' -}}
{% filter indent(4, True) -%}
    {% if function.first_arg -%}
        {{ function.first_arg -}}{{ ",\n" if function.arguments else "\n" -}}
    {% endif -%}
    {% for argument in function.arguments -%}
        {{ argument.render() -}}{{ ",\n" if not loop.last else "\n" -}}
    {% endfor -%}
{% endfilter -%}
{{ ') -> ' -}}{{ function.return_type.render() -}}{{ ':\n' -}}
{% filter indent(4, True) -%}
    {% if function.docstring -%}
        {{ '"""\n' -}}
        {{ function.docstring -}}
        {{ '\n' -}}
        {{ '"""\n' -}}
    {% endif -%}
    {{ function.body -}}
{% endfilter -%}
