{% for import_record_group in import_record_groups -%}
    {% if not import_record_group.is_builtins() -%}
        {% if import_record_group.import_records|length == 1 -%}
            {% with import_record = import_record_group.import_records[0] -%}
                {% if import_record.safe -%}
                    {{ 'try:\n    ' -}}
                    {% include "common/import_record.py.jinja2" with context -%}
                    {{ '\nexcept (ImportError, ModuleNotFoundError):\n' -}}
                    {{ '    ' -}}
                    {{ import_record.get_local_name() -}}
                    {{ ' = Any' -}}
                {% else -%}
                    {% include "common/import_record.py.jinja2" with context -%}
                {% endif -%}
            {% endwith -%}
        {% else -%}
            {{ 'from ' -}}
            {{ import_record_group.source -}}
            {{ ' import (\n' -}}
            {% filter indent(4, True) -%}
                {% for import_record in import_record_group.import_records -%}
                    {% if import_record.alias -%}
                        {{ import_record.name -}}{{ ' as ' -}}{{ import_record.alias -}}
                    {% else -%}
                        {{ import_record.name -}}
                    {% endif -%}
                    {{ ",\n" if not loop.last else "\n" -}}
                {% endfor -%}
            {% endfilter -%}
            {{ ')' -}}
        {% endif -%}
        {{ "\n" -}}
    {% endif -%}
{% endfor -%}
