# boto3-stubs

Mypy-friendly type annotations for `boto3` {{ boto3_version }}.
More information can be found [here](https://github.com/vemel/mypy_boto3).

## Submodules

- `all` - Type annotations for all `boto3` services.
{% if package.essential_service_names -%}
    {{ "- `essential` - Type annotations for " -}}
    {% for service_name in package.essential_service_names -%}
        {% if not loop.first -%}
            {{ " and " if loop.last else ", " -}}
        {% endif -%}
        {{ "`" -}}
        {{ service_name.boto3_name -}}
        {{ "`" -}}
    {% endfor -%}
    {{ " services" if package.essential_service_names|length > 1 else " service" -}}
    {{ ".\n" -}}
{% endif -%}
{% for service_name in package.service_names -%}
    {{ "- `" -}}
    {{ service_name.boto3_name -}}
    {{ "` - Type annotations for `" -}}
    {{ service_name.boto3_name -}}
    {{ "` service." -}}
    {{ "" if loop.last else "\n" -}}
{% endfor -%}
