appdirs==1.4.3
attrs==19.3.0
black==19.10b0
boto3==1.10.19
botocore==1.13.19
click==7.0
docutils==0.15.2
jinja2==2.10.3
jmespath==0.9.4
markupsafe==1.1.1
mypy-extensions==0.4.3
mypy==0.740
pathspec==0.6.0
python-dateutil==2.8.0
regex==2019.11.1
s3transfer==0.2.1
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
urllib3==1.25.7
