# {{ service_name.pypi_name }}

Mypy-friendly type annotations for `boto3` {{ boto3_version }} `{{ service_name.boto3_name }}` service.
More information can be found [here](https://github.com/vemel/mypy_boto3).
{{ '' -}}
