"Main interface for {{ module.service_name.boto3_name }} service"

{% for import_record in module.get_import_records() -%}
    {% include "common/import_record.py.jinja2" with context -%}
    {{ '\n' -}}
{% endfor -%}

{{ "\n\n" -}}

__all__ = (
{% for import_record in module.get_import_records() -%}
    {{ '"' -}}
    {{ import_record.get_local_name() -}}
    {{ '"' -}}
    {{ ",\n" if not loop.last or loop.first else "\n" }}
{% endfor -%}
)
