"Helper functions for {{ module.service_name.boto3_name }} service"

{% with import_record_groups=module.get_helpers_import_record_groups() -%}
    {% include "common/import_groups.py.jinja2" with context -%}
{% endwith -%}

{% for function in module.helper_functions -%}
    {% include "common/function.py.jinja2" with context -%}
{% endfor -%}
