"Main interface for {{ module.service_name.boto3_name }} Paginators"
from __future__ import annotations

{% with import_record_groups=module.get_paginator_required_import_record_groups() -%}
    {% include "common/import_groups.py.jinja2" with context -%}
{% endwith -%}

{{ "\n\n" -}}

__all__ = (
{% for paginator in module.paginators -%}
    {{ '"' -}}
    {{ paginator.name -}}
    {{ '"' -}}
    {{ ",\n" if not loop.last or loop.first else "\n" }}
{% endfor -%}
)

{{ "\n\n" -}}

{% for paginator in module.paginators -%}
    {% with class=paginator -%}
        {% include "common/class.py.jinja2" with context -%}
    {% endwith -%}
    {{ "\n\n\n" if not loop.last else "\n" -}}
{% endfor -%}
